{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
    <h1 class="page-title">Create new Comment</h1>

    <div class="content-wrapper">
        {{ include('comment/_form.html.twig') }}
    </div>

    <a href="{{ path('comments') }}">back to list</a>
{% endblock %}
