{% extends 'base.html.twig' %}

{% block title %}Update Comment{% endblock %}

{% block body %}
    <h1 class="page-title">Edytuj komentarz</h1>

    <div class="content-wrapper">
        {{ include('comment/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

    <a href="{{ path('comments') }}">back to list</a>

    {{ include('comment/_delete_form.html.twig') }}
{% endblock %}
