{% extends 'base.html.twig' %}
{% block title %}Update Comment{% endblock %}
{% block body %}

    <div class="container">
        <h1 class="text-center py-4">{{ 'title.comment_update'|trans }}</h1>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {% include 'default/_form.html.twig' with {
                    page_title: 'title.comment_update',
                    attr: {
                        method: 'POST',
                        action: url('comment_update')
                    },
                    form: form,
                    submit_label: 'action.save'|trans,
                    back_to_list_path: 'comments',
                } %}
            </div>
        </div>
    </div>

{% endblock %}
