/*
    base.html.twig
 */

.navbar {padding: 10px 20px; background: #5e92f3; font-weight: bold;}

.nav-item {margin: 0 10px;}

.nav-login { background: #9bc6ff; }


/*
    posting/index.html.twig
*/

.site-wrapper { margin: 1em auto; width: 80%; font-family: 'Lato', sans-serif; }

.site-wrapper code { background: #F5F5F5; padding: 2px 6px; }

h1, h3 {font-family: 'Raleway', sans-serif;}

a {color: #000000;}

a:hover {color: #aaaaaa; text-decoration: none;}

.category-item a:hover {color: #FFFFFF;}

.navbar a:hover {color: #FFFFFF;}

.page-title {text-align: center; margin: 40px;}

.postings-wrapper {padding: 10px}

.postings-item-wrapper {margin: 30px 10px; border-left: 7px solid #1565c0; border-radius: 15px;}

.post-title {}

.img-wrapper {}

.img-wrapper img {border-radius: 20px; width: 100%; margin: 10px;}

.category-item {margin: 10px 10px 0 0; padding: 10px; background-color: #5e92f3; border-radius: 10px}

h4.current-category {background-color: #9bc6ff;}

.pagination {margin: 30px auto; width: 40%;}

/*
    postings/view.html.twig
 */

.content-wrapper {margin: auto; width: 50%;}

.post-content {}

#category-list {display: block; text-align: center;}


