{% extends 'base.html.twig' %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% include 'default/_form.html.twig' with {
                page_title: 'title_category_create',
                attr: {
                    method: 'POST',
                    action: url('category_create')
                },
                form: form,
                submit_label: 'action.save'|trans,
                back_to_list_path: 'categories',
            } %}

        </div>
    </div>
</div>



{% endblock %}
