{% extends 'base.html.twig' %}


{% block body %}
<style>

</style>

<div class="form-wrapper">
    <h1 class="page-title">Utwórz kategorię</h1>
        <div class="content-wrapper">
            {{ form(categoryForm) }}
        </div>

</div>

{% endblock %}
