{% if post.getSeparatedTags is defined %}
    {% for category in post.getSeparatedTags %}
        <span class="category-wrapper">
            {{ category }}
        </span>
    {% endfor %}
{% endif %}
