{% extends 'base.html.twig' %}
{% block body %}

<div class="container">
    <div class="row my-3">
        <div class="col-md-6 offset-md-3">
            {% include 'default/_form.html.twig' with {
                page_title: 'title.post_create',
                attr: {
                    method: 'POST',
                    action: url('posting_create')
                },
                form: form,
                submit_label: 'action.save'|trans,
                back_to_list_path: 'postings',
            } %}
        </div>
    </div>
</div>

{% endblock %}
