{% extends 'base.html.twig' %}
{% block title %}{{ 'title.posting_delete'|trans }}{% endblock %}
{% block body %}

    <div class="container">
        <div class="row my-3">
            <div class="col-md-6 offset-md-3">
                {% include 'default/_form.html.twig' with {
                    page_title: 'title.posting_delete',
                    page_title_param: {'%id%': posting.id},
                    attr: {
                        method: 'DELETE',
                        action: url('posting_delete', {'id': posting.id})
                    },
                    form: form,
                    submit_label: 'action.delete'|trans,
                    back_to_list_path: 'postings_admin',
                } %}
            </div>
        </div>
    </div>

{% endblock %}